.navbar-purple {
    background-color: #6f42c1;
}

.navbar-title {
    margin-left: 20px;
}

.usertable td {
    max-width: 150px;
    overflow-x: hidden;
}

.profilephoto
{
    width:200px;
    height:200px;
    border:1px solid black;
}